html 
  body 
    p Hello,
    p 
      | You were just invited to join #{organization_name}! To accept the invite,
      a(href=url style="color: #444")  click here.
      |  If you believe you received this email by mistake, you can safely disregard it.
    p Thanks! 
    br
    strong Broadcasting System